<div class="container mt-5">
    <div *ngIf="!createMode">
      <h2>USA QOH</h2>
      <a class="nav-link" [routerLink]="['/inventory']"><h2><i class="fa fa-arrow-left"></i></h2></a>
      <div style="text-align: left">
          <button class="btn btn-primary btn-md" (click)="createToggle()">Create</button>
      </div>
      <br>
      <div class="row" style="text-align: left"> 
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 5%"></th>
              <th style="width: 5%">Id</th>         
              <th style="width: 15%">Pn</th>
              <th style="width: 15%">Mls Pn</th>
              <th style="width: 10%">Qoh</th>
              <th style="width: 5%"></th>
              <th style="width: 10%">Jan1Qoh</th>
              <th style="width: 10%">Jan1Rec</th>
              <th style="width: 10%">Jan1Ship</th>
              <th style="width: 5%">Location</th>
              <th style="width: 10%">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let masterPart of txqohactuals">
              <td><button class="btn btn-info" (click)="editTxQohsModal(masterPart)">Edit</button></td>
              <td>{{masterPart.masterPartId}}</td>          
              <td>{{masterPart.partNumber}}</td>
              <td>{{masterPart.mlsPn}}</td>
              <td>{{masterPart.qoh}}</td>
              <td></td>
              <td>{{masterPart.jan1Qoh}}</td>
              <td>{{masterPart.jan1Rec}}</td>
              <td>{{masterPart.jan1Ship}}</td>
              <td>{{masterPart.location}}</td>
              <td>{{masterPart.notes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div *ngIf="createMode" class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <app-txqoh-create (cancelCreate)="cancelCreateMode($event)"></app-txqoh-create>
        </div>
      </div>
    </div>
  </div>

