<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Qoh: {{masterPart?.partNumber}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #masterPartForm="ngForm" id="masterPartForm">
        <div class="form-group">
            <input type="text" class="form-control" required name="partNumber" [(ngModel)]="masterPart.partNumber" placeholder="PartNumber">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="mlsPn" [(ngModel)]="masterPart.mlsPn" placeholder="mlsPn">
        </div>
    
        <div class="form-group">
            <input type="text" class="form-control" required name="partDescription" [(ngModel)]="masterPart.partDescription" placeholder="PartDescription">
        </div>
            
        <div class="form-group">
            <input type="text" class="form-control" required name="qoh" [(ngModel)]="masterPart.qoh" placeholder="Qoh">
        </div>
    

    
        <div class="form-group">
            <input type="text" class="form-control" required name="notes" [(ngModel)]="masterPart.notes" placeholder="Notes">
        </div>
  
    </form>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateMasterPart()" form="masterPartForm">Submit</button>
  </div>
